.sidebarContainer {
  position: relative;
  width: 300px;
  height: 768.23px;
  padding-bottom: 12px;
  padding-left: 10px;
  border: 2px solid #d3d3d3;
  top: 13px;
  left: 13px;
  border-radius: 9px;
}
.userPicture img {
  position: relative;
  bottom: 118.94px;
  left: 234px;
  width: 10px;
  filter: contrast(5);
}
.userPicture img:hover{
  cursor: pointer;
}
.companyProfile img {
  position: relative;
  right: 13.45px;
  width: 41.54px;
  border-radius: 16px;
  padding: 13px;
}
.companyProfile h4 {
  position: relative;
  bottom: 47.67px;
  left: 41px;
  color: gray;
  font-size: 13.43px;
}
.companyProfile h1 {
  position: relative;
  bottom: 64px;
  font-size: 17px;
  left: 48.44px;
}
.teamsContainer {
  position: relative;
  bottom: 124.72px;
  right: 5.56px;
  padding: 10px;
  font-size: 15.67px;
  border: 1px solid #d3d3d3;
  margin: 3px;

  border-radius: 6.56px;
  padding-bottom: 0px;
}

.designTeam {
  display: flex;
  padding-top: 5px;
}
.designTeam p{
  position: relative;
  left: 120px;
  font-weight: 300;
}
.designTeam:hover{
  cursor: pointer;
  background-color: #d3d3d3;
}
h4 {
  padding-left: 8px;
  padding-bottom: 15.53px;
  font-weight: 500;
}
.marketingTeam {
  display: flex;
  font-weight: 500;
}
.marketingTeam:hover{
  cursor: pointer;
  background-color: #d3d3d3;
}
.marketingTeam p{
  position: relative;
  left: 100px;
}
.developmentTeam {
  display: flex;
}
.developmentTeam:hover{
  cursor: pointer;
  background-color: #d3d3d3;
}
.developmentTeam p{
  position: relative;
  left: 77px;
}
.addIcon {
  position: relative;
  bottom: 129.63px;
  border: 1px solid #d3d3d3;
  right: 1.76px;
  border-radius: 6.56px;
  margin-right: 6.43px;
}
.addIcon:hover{
  cursor: pointer;
  background-color: #d3d3d3;
}
button {
  background-color: white;
  border: none;
  font-size: 16.56px;
  color: grey;
  padding: 12px;
  border-radius: 10px;
}
span {
  padding-left: 8px;
}
.folders {
  position: relative;
  bottom: 46px;
}
.folders h3 {
  color: grey;
  position: relative;
  bottom: 64px;
  left: 19px;
  font-size: 14.56px;
}
.folders h2 {
  position: relative;
  left: 260px;
  bottom: 85px;
  font-size: 15px;
}
.subFolders {
  position: relative;
  bottom: 46px;
}

.subFolders h3 {
  position: relative;
  bottom: 70px;
  left: 22px;
  font-weight: 500;
  font-size: 16px;
}
.subFolders h5 {
  position: relative;
  bottom: 87px;
  left: 261.32px;
}
.folderElements h4 {
  position: relative;
  bottom: 77px;
  font-weight: 500;
  left: 42.43px;
  padding: 5px;
}
.folderElements h3 {
  position: relative;
  bottom: 71.35px;
  left: 60px;
  color: gray;
  font-size: 16px;
  font-weight: 100;
}
.folderTypes {
  position: relative;
  bottom: 45px;
  left: 5px;
}
.folderTypes h5 {
  position: relative;
  padding: 3px;
  font-size: 16px;
  font-weight: 500;
  bottom: 61px;
  left: 21.56px;
}
.folderTypes b {
  position: relative;
  left: 167px;
}
.folderTypes i {
  position: relative;
  left: 156px;
}
.sideFooter {
  position: relative;
  bottom: 25px;
  margin: 0px;
  gap: 20px;
  font-size: 14px;
}
.sideFooter h1 {
  position: relative;
  bottom: 2px;
  left: 50.54px;
  font-weight: 600;
  font-size: 14px;
}
.sideFooter h5 {
  position: relative;
  top: 13.92px;
  left: 30px;
}
.sideFooter h4 {
  position: relative;
  font-size: 14px;
  bottom: 7px;
  left: 42.42px;
  font-weight: 600;
}
.sideFooter p {
  position: relative;
  top: 13px;
  left: 27px;
}
.sideFooter span {
  position: relative;
  left: 51px;
  font-weight: 400;
}
.sideFooter b {
  position: relative;
  left: 31px;
  bottom: 8px;
  font-weight: 400;
}
.sideFooter i {
  position: relative;
  left: 55px;
  font-weight: 300;
}
.sideFooter b {
  position: relative;
  bottom: 10px;
}
.sideFooter h2 {
  position: relative;
  font-size: 14px;
  left: 49.67px;
  bottom: 27px;
}
